/*
Theme Name: Spot Travel
Theme URI: http://www.spottravel.com
Description: Spot Travel Primary Theme
Author: Consuela Serban
Author URI: http://www.spottravel.com
Version: 1
*/

html{
    height:100%
}
body{
    background: #f2f2f2;
    color: #2c3e50;
    font-size:16px;
    font-family: "Roboto", sans-serif;
    height: 100%;
}
section>.container>h1{
    font-size: 3.3em;
    margin-bottom: 20px;
    text-align: center;
}

.navbar{
    background: rgba(245, 245, 245, 0.45);
    border:none;
    border-radius: 0;
}

.navbar-inverse .navbar-brand {
    color: #ce0000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 3rem;
}

.navbar-inverse .navbar-brand:focus, 
.navbar-inverse .navbar-brand:hover {
    color: #ce0000;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ce0000
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus, 
.navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
    border: transparent;
}

.hero{
    background-image:url('../img/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    /*height: 85%*/;
    height: 100vh;

}
.hero h1{
    color:#fff;
    font-size: 5.5em;
    margin: 0;
    padding: 15% 0 4% 10%;
}
.hero h2{
    color:#fff;
    font-size: 3.5em;
    margin: 0;
    padding: 0 10% 6% 10%;
}
.hero .btn{
    background-color: #ce0000;
    border-radius:0;
    color:#fff;
    font-size:1.7em;
    font-weight: 300;
    margin:0 0 0 10%;
    padding:10px 24px;
}
.hero .btn-nav, .hero .btn-nav-mobile{
    display: inline-block;
    float: right;
    font-size: 1.1em;
    margin-left: 30px;
    padding: 12px 20px;
}
.hero .btn-nav-mobile{display:none;}

/***************************Testimonials*/

.testimonials{
    background-color:#817F84;
    padding: 1.5% 0;
}
.testimonials p{
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}
.testimonials p.text-right{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

/***************************How it works*/
.how-it-works{
    background: #f2f2f2;
    border-top: 1px solid #ddd;
}
.how-it-works h2{
    font-size: 2.3em;
    margin-top: -60px;
}
.how-it-works h2 span{
    background: #ce0000;
    border-radius: 50%;
    color: #fff;
    display: block;
    left:-60px;
    margin: 0;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 60px;
}
.how-it-works p{
    font-size: 1.1em;
    margin-bottom: 30px;
    margin-top: 30px;
}
.how-it-works section{
    background: #fff;
    box-shadow: 0px 0px 1px rgba(0,0,0,.3);
    margin:30px 0 40px;
    padding: 30px 15px;
}

/***************************Video*/
.video{
    background: #7A7C8B;
    padding: 2% 0;
}
.video h1{
    color:#fff;
    margin:0;
    padding-bottom: 2%;
}

/***************************Features*/
.features{
    background: #4B6577;
}
.features h1{
    color: #fff;
}
.feature{
    background: #fff;
    padding: 15px;
    margin: 15px 0;
}
.feature h2{
    margin-top: 0;
}

/***************************Register*/
.register{
    background: #f2f2f2;
    padding-bottom: 30px;
}
.form-control{
    border-radius:0;
    box-shadow: none;
    height: 40px;
}
.form-control:focus{
    border-color: #aaa;
    box-shadow: none;
}
label{
    font-weight: normal;
}
.btn-red{
    background: #ce0000;
    border-radius: 0;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 30px;
}

/***************************Footer*/
.footer{
    background: #fff;
    padding:15px;
}
.footer p{
    margin: 0;
}
.header .btn{
    background-color: #ce0000;
    border-radius:0;
    color:#fff;
    font-size:1.7em;
    margin:0 0 0 10%;
    padding:10px 24px;
}
.header .btn-nav, .header .btn-nav-mobile{
    display: inline-block;
    float: right;
    font-size: 1.1em;
    margin-left: 30px;
    padding: 12px 20px;
}
.header .btn-nav-mobile{display:none;}

/***************************Contact Us*/
.contact-us{
    margin-top: 50px;
}



@media (max-width: 800px){
    .how-it-works h2 span{
        left:-40px;
    }
}
@media (max-width: 767px) {
    .hero{
        height: 100vh;
        background-position: 60%;
    }
    .hero h1{
        font-size: 3.5em;
        padding: 15% 0 2% 10%
    }
    .hero h2{
        font-size: 2.7em;
        padding-bottom: 4%;
    }
    .hero .btn-nav, .header .btn-nav{
        display: none;
    }
    .hero .btn-nav-mobile, .header .btn-nav-mobile{
        display: block;
        margin-left: 0;
    }
    .header .btn-nav, 
    .header .btn-nav-mobile {
        padding: 12px 4px;
    }
}


/*********************Registration****/

#register .input-group-addon {
    color: hsl(0, 0%, 20%);
    border-radius: 0;
    background: none repeat scroll 0 0 hsl(0, 0%, 98%);
    position: relative;
    right: 0;
    min-width: 120px;
}
#register .input-group.subdomain {
    position: relative;
    width: 100%;
}

#register .btn.disabled,
#register .btn[disabled],
#register fieldset[disabled] .btn {
    background: #CE0000;
}

#register .btn:hover {
    background: #DD4C4C;
}
#register input.form-control.alert-border {
    border: 1px solid rgba(0,0,0,1);
    border-color: hsl(0, 100%, 40%);
    transition: border-color 1s linear;
    -moz-transition: border-color 1s linear;    /* FF3.7+ */
    -o-transition: border-color 1s linear;      /* Opera 10.5 */
    -webkit-transition: border-color 1s linear; /* Saf3.2+, Chrome */
}

/* Validation Error */
#register label.error {
    font-size: 16px;
}

#register label[for] {
    font-size: 16px;
    font-weight: normal;
    float: left;
    margin-right: 5px;
}

#register label[for='live-url'] {
    font-size: 16px;
    float: none;
}

#register label[generated='true'] {
    float: right;
}

#register .fa {
    color: #7F8C8D;
    font-size:15px;
}
#register .fa:hover {
    color:#CE0000;
}
.required {
    color: hsl(0, 100%, 40%);
}
#register .form-group {
    margin-bottom: 20px;
}
#register .form-group label.error {
    font-size: 11px;
    position: absolute;
    right: 15px;
    color: #ce0000;
}

/* Instructions */
.instructions {
    clear: both;
}
.instructions {
    font-size: 12px;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: auto;
    display: block;
    visibility: hidden;
    max-width: 100%;
    padding: 10px;
    text-align: left;
    white-space: normal;
    opacity: 0;
    border: 1px solid hsla(0, 0%, 0%, 0.2);
    border-radius: 0;
    background-color: hsl(0, 0%, 100%);
    background-clip: padding-box;
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.1);
}
.close-help.glyphicon.glyphicon-remove.pull-right {
    position: absolute;
    top: 10px;
    right: 10px;
    color:#ce0000;
    cursor: pointer;
    opacity: 0.8;
}
.instructions .arrow, .instructions .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: hsla(0, 0%, 0%, 0);
}
.instructions .arrow {
    border-width: 11px;
}
.instructions .arrow:after {
    content: '';
    border-width: 10px;
}

.instructions .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: hsla(0, 0%, 0%, 0.25);
    border-bottom-width: 0;
}

.instructions .arrow:after {
    bottom: 1px;
    margin-left: -10px;
    content: ' ';
    border-top-color: hsl(0, 0%, 100%);
    border-bottom-width: 0;
}

span.help {
    line-height: 20px;
    float: left;
    height: 20px;
    margin-left: 0px;
    cursor: pointer;
}

span.help span.text {
    font-size: 11px;
    margin-right: 3px;
    color: #bbb;
}

span.help span.glyphicon-question-sign {
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin: 0 3px;
}

/* Availability */
span.availability {
    font-size: 11px;
    line-height: 20px;
    display: none;
    float: left;
}

span.availability.success,
.live-url .glyphicon-ok,
.live-url span.active.success {
    color: #3c763d;
}

span.availability.error,
.live-url .glyphicon-remove,
.live-url span.active.error {
    color: #ce0000;
}

/* Subdomain */
#subdomain {
    font-weight: bold;
    text-transform: lowercase;
}

#subdomain.valid {
    color: #3c763d;
}

.subdomain:focus .glyphicon {
    border-top: 1px solid hsl(0, 0%, 73%);
    border-bottom: 1px solid hsl(0, 0%, 73%);
}

.subdomain .glyphicon {
    font-size: 12 !important;
    font-weight: normal !important;
    height: 40px;
}

.subdomain input,
.subdomain .input-group-addon {
    font-size: 18px;
}

.subdomain input.success {
    color: #3c763d;
}

.subdomain input.error {
    color: #ce0000;
}
