/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
}
body > .container {
  padding: 60px 15px 0;
}
/* General styles
-------------------------------------------------- */
.border-radius {
  border-radius: 0;
}
.box-shadow {
  box-shadow: none;
}
a,
a:hover,
a:active,
a:focus {
  color: #ce0000;
  text-decoration: none;
}
.btn-red {
  padding: 2px 12px;
  color: #fff;
  background: #ce0000;
  border-radius: 0;
  border-color: #ce0000;
  font-size: 18px;
}
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
  color: #fff;
}
/* Header
-------------------------------------------------- */
.navbar {
  border-radius: 0;
  border-bottom: 2px solid #ce0000;
  background: #fff;
  margin-bottom:0;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.navbar .dropdown {
  padding: 8px 10px 0 0;
}
.navbar .dropdown a {
  color: #222;
  font-size: 16px;
}
.navbar .dropdown a img{
  width: 34px;
  height: 34px;
}
.navbar .dropdown .dropdown-menu {
  border-radius: 0;
  background: #fff;
  margin-top: 10px;
}
.navbar .dropdown .dropdown-menu a {
  color: #333333;
  font-size: 14px;
}
.navbar .dropdown .dropdown-menu li:hover a {
  color: #ce0000;
}
.dropdown-menu > li > a {
  padding: 3px 10px;
}
.navbar-brand {
  font-family: Arial, Verdana, serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}
.navbar-brand img{
  max-width: 125px;
  padding: 10px;
}
/* Footer
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #F7F7F7;
  z-index: 1001;
  box-shadow: -1px 0 1px rgba(0,0,0,.3)
}

.footer p {
  line-height: 2;
  margin-bottom: 0;
  padding: 0 20px;
}
/* Search content
-------------------------------------------------- */
.search {
  position: relative;
  padding: 15px;
  background: #f1f1f1;
  background: white;
}
.search {
    border-bottom: 1px solid #eee;
    padding: 15px 15px 10px;
    position: relative;
}
.search .btn-red {
  font-size: 20px;
}
.search input,
.search select {
  border-radius: 0;
  box-shadow: none;
}
.search .col-xs-4,
.search .col-xs-6 {
}
.search label {
  font-size: 16px;
  font-weight: normal;
}
.search .sep {
  margin-left: 15px;
  line-height: 34px;
}
.search .form-inline input {
  float: left;
  width: 140px;
}
.search .form-inline .sep {
  margin-right: 15px;
}
.search .form-group {
  margin-bottom: 10px;
}
.search .advanced-search {
  display: none;
}
.search .form-control:focus{
  border-color: #aaa;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.3)
}
/* Search results
-------------------------------------------------- */

#no-result {
  display: none;
  padding: 10px;
}
#no-result span {
  /*font-weight: bold;*/
  color: #CE0000;
  cursor: pointer;
}
.search-results {
  padding : 10px;
  position: relative;
}
.search-results .media {
    background: none repeat scroll 0 0 white;
    border-bottom    : 1px solid #f1f1f1;
    margin    : 0 0 10px;
    padding-bottom:14px;
}
.search-results .media .media-heading {
  display      : inline-block;
  margin-bottom: 0;
  margin-top:0;
  color        : #ce0000;
  overflow     : hidden;
  font-size    : 16px;
  line-height  : 18px;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 188px;
}
.search-results .media .media-heading:hover {
  cursor: pointer;
  color: #D2322D;
}
.search-results .media .media-body p {
  margin-bottom: 5px;
  padding-right: 10px;
}
.search-results .media .media-body .fa {
  color: #ce0000;
  font-size: 14px;
}
.search-results .media .media-body .reviews {
  margin-right: 10px;
  color: #ce0000;
}
.search-results .media .media-body .fa.pull-left {
  line-height: 20px;
}
.search-results > li:hover {
  background: #f1f1f1;
  border    : 1px solid #ce0000;
  cursor    : pointer;
}
.more {
  margin-top: 3px;
  padding: 5px;
  background: #f1f1f1;
  background: white;
  text-align: center;
}
/* Tour details
-------------------------------------------------- */
.tour-details {
    cursor: default;
    margin: 0 auto;
    width: auto;
    display: none;
}

.tour-details > img {
    max-width: 100%;
}

.tour-details .tour-images img {
  max-height: 250px;
  margin: 0 auto;
  display: block;
}

.tour-details .tour-images .carousel-control.left,
.tour-details .tour-images .carousel-control.right {
  background-image: none;
}

.tour-details .title {
  padding: 5px 20px;
  color: #333;
  background-color: #fff;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.tour-details .title .btn{
  margin-top: 6px;
}

.tour-details .title h2 {
  display: inline-block;
  margin: 10px 0;
  /*color: #ce0000;*/
  font-size: 22px;
}

.tour-details .title .review-container {
  margin-top: 10px;
  font-size: 16px;
  color: #ce0000;
}
/*.tour-details .tour-content {
  padding: 0 20px;
}*/

.tour-details .tour-content .description {
  overflow-y: auto;
  margin-bottom: 20px;
}

.tour-details .tour-content .description ul {
  padding: 20px;

}

.tour-details .tour-content .description li {
    list-style: outside none disc;
}

.tour-details .price {
  color: #ce0000;
  font-size: 18px;
  margin-bottom: 10px;
}

.tour-details .duration {
  color: #888888;
  font-size: 18px;
  margin-bottom: 10px;
}

.tour-images i.fa {
  color: #CE0000;
}

.tour-details .tags {
    margin-bottom: 15px;
    /*display: inline;*/
}

.tour-details .tags span:first-child {
  background: none;
  border: none;
  padding-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.tour-details .tags span {
    background     : #f1f1f1;
    color          : #333;
    display        : inline-block;
    line-height    : 1;
    /*padding        : 0.5em 0.8em 0.5em;*/
    padding        : 5px 8px;
    /*margin         : 0 2px 10px;*/
    margin: 0 12px 10px 0;
    border: 1px solid #ddd;
    text-align     : center;
    vertical-align : baseline;
    white-space    : nowrap;
    text-transform : capitalize;
}

.tour-details .tags .fa {
  margin-right: 5px;
}

/*.tour-details .meta-label {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}*/

.tour-details .company {
    background: none repeat scroll 0 0 #eee;
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 20px;
}

.tour-details .company img {
    float: left;
    margin-right: 10px;
    max-width: 100px;
    border: 1px solid #ccc;
}

.tour-details .company h3 {
    margin: 0 0 10px;
}

.tour-details .company .fa {
    margin-right: 7px;
}

.tour-details button {
  width: 100%;  
}

.tour-content hr:first-child {
  margin-top:0;
  margin-bottom:10px;
}

/* Map
-------------------------------------------------- */
#search-container {
  background: white;
}
/* Map
-------------------------------------------------- */
.container-fluid {
    height: 100%;
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}
#map {
  width   : 100%;
  height  : 100%;
  position: absolute; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
}

#sidebar {
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: fixed;
    left: 0;
    top: 53px;
    z-index: 1000;
    box-shadow: 2px 0 9px -6px #000;
}
#map-container {
  position: relative;
  height: 100%;
}

.leaflet-top {
  top: 50px;
}
.search {
  background: #eee;
  background: #F7F7F7;
}
.search .view  {
  color: #ccc;
  margin-right: 2px;
}
.search .view span {
    color: #aaa;
    font-size: 14px;
    line-height: 19px;
    margin-top: 2px;
}
.search .view:hover  {
  color: #aaa;
}
.search .view.open i {
  color: #CE0000;
}
.search .view i {
  margin-left:5px;
  font-size: 28px;
}



.noUi-horizontal.noUi-extended {
  padding-right: 32px;
  border-radius: 0;
}
.noUi-horizontal.noUi-extended .noUi-connect {
    background:#ce0000;
}
.noUi-horizontal.noUi-extended .noUi-handle {
  left: -1px;
  border-radius: 0;
}
.noUi-horizontal.noUi-extended .noUi-origin  {
  right: -32px;
}

.range.min,
.range.max {
  margin-top:5px;
  color: #999;
}

.advanced-search {
    margin-top: 10px;
}

.is-selected .pika-button,
.pika-button:hover {
  background:#ce0000 !important; /** need this, vendor declares important :( */
  border-radius: 0 !important; /** need this, vendor declares important :( */
  box-shadow: none;
}

.is-today .pika-button {
  color:#ce0000
}

.pika-table td {
  text-align: center;
}

/**
 * Grid view
 */
.thumbnail {
    border: 0 none;
    height: 100px;
    width: 100px;
    border-radius: 0;

}
.grid-item .thumbnail {
    height: 130px;
    width: 100%;
}
.grid-item img {
    height: 130px;
    width: 150px;
}

.media.grid-item .media-left, 
.media.grid-item .media-right, 
.media.grid-item .media-body {
  display: block;

}

.media.grid-item {
    border: 0 none;
    margin: 0;
    padding: 3px;
    text-align: center;
}

.media .grid-img,
.media.grid-item .list-img,
.media.grid-item .media-body {
  display: none;
}

.media.grid-item .grid-img {
    display: block;
    margin: 0 auto;
}

.media.grid-item .media-left, .media.grid-item > .pull-left {
    margin: 2px;
    padding: 3px;
}

.media .list-img {
  max-width: 100px;
}

.media .list-img {
  /*max-width: 100px;*/
  width: 100px;
  height: 100px;
}

.search.fixed {
    border-bottom: 1px solid #eee;
    padding: 15px;
    width: 591px;
    z-index: 1000;
}

/**
 * Google InfoWindow
 */
.gm-style-iw + div {
  display: none;
}

.gm-style-iw > div {
  width: auto !important;
  text-align: center !important;
}

.gm-style-iw img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
}

#search-results.grid-view {
  padding: 0;
}

#preloader {
  display   : none;
  margin    : 20px auto 0;
  text-align: center;
}


.media-body .tag {
    background    :  #eee;
    color         : #333;
    border-radius : 0;
    display       : inline;
    font-size     : 75%;
    font-weight   : 700;
    line-height   : 1;
    padding       : 0.2em 0.6em 0.3em;
    text-align    : center;
    vertical-align: baseline;
    white-space   : nowrap;
    float: left;
    margin-right: 5px;
    height: 19px;
    line-height: 15px;    
}
.media-body .tag i {
    margin-right: 5px;
}

form {
  overflow: hidden;
}

/**
 * Search controls
 */
#search-controls {
  display : none;
  overflow: hidden;
  padding : 10px 20px;
}
#show-results {
  color: #CE0000;
  /*display: none;*/
}
#show-results i {
  margin-right: 5px;
}

#page-results {
  /*display: none;*/
  float: right;
}

#page-results .next ,
#page-results .prev {
  cursor: pointer;
  color: #CE0000;
}
#page-results .next:hover ,
#page-results .prev:hover {
  color: #333;
}

/*#pagination {
  float: right;
}*/

/**
 * Detail View
 */
.heading {
  background: #f1f1f1;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 18px;
  color: #CE0000;
  margin-bottom:15px;
}
.heading:first-child {
  border-top: 1px solid #ddd;
}

.tour-content .collapse {
  /** collapsible panel */
  padding:0 20px 20px 20px;
}

@media (max-width: 768px) {
  .search-results {
    padding: 0px;
  }
  .leaflet-top {
    top: 150px;
  }
  .search-results .media:first-child {
    padding-top:10px;
  }
  .search-results .media .media-heading {
    max-width: 65%;
  }
}