.alert{
  font-size: @font-size-small;
  margin-bottom: 15px;
  padding: 6px 10px; 
}

.form-header .alert{
  display: block;
  cursor: default;
  font-size: 1.4rem;
}

.option-row .alert {
  margin-left: 15px;
  margin-right: 15px;
}

