.btn {
  border-radius: 0;
  font-size: @font-size-small;
}

.btn:hover,
.btn:active,
.btn:focus,
.btn-default:active:focus,
.btn-default:active:hover {
  background-color: darken(@btn-default-bg, 5%);
  border-color: darken(@btn-default-bg, 10%);
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus {
  background-color: @bg-light;
  border-color: @primary-color;
  color: @primary-color;
}

.btn-danger:hover,
.btn-danger:focus {
  background-color: @btn-danger-bg;
  border-color: @btn-danger-border;
}

.btn-inactive,
.btn-inactive:hover,
.btn-inactive:focus {
  background-color: @gray-light;
  border-color: @gray;
  color: @gray-dark;
}

.btn-inactive.active {
  background-color: @btn-default-bg;
  border-color: @btn-default-border;
  color: @btn-default-color;
}

.dash-header .btn-link{
  color: @link-color;
}
.btn-link:hover,
.btn-link:focus {
  background-color: transparent;
  border-color: transparent;
}

.list-video {
  .btn {
    padding: 0;
  }
  .btn-disabled {
    background-color: transparent;
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: @gray;
    }
  }
}


/**
 *  Billing period btn
*/

.btn-group-billing .btn {
  font-size: 1.6rem;
  min-height: 90px;
  width: 180px;
  span {
    font-size: 2.2rem;
  }
  i {
    display: none;
  }
  &.active {
    i {
      display: inline-block;
    }
  }
}


/**
 *  Upload file btn
*/

.fileinput-new.input-group .btn-file,
.fileinput-new .input-group .btn-file {
  border-radius: 4px 0 0 4px;
}

.btn-file.input-group-addon {
  background-color: @primary-color;
  border-color: transparent;
  color: @text-color-light;
}

.option-group + .btn {
  margin-left: 15px;
}


/**
 *  Upload image button (account page)
*/

.bootstrap-filestyle span {
  margin-right: 4px;
}


/**
 *  Position buttons for interactive forms (single video page)
*/

.position-btns {
  width: 250px;
  .btn {
    background-color: @bg-light;
    border-color: @primary-color;
    border-radius: 0;
    color: @primary-color;
    height: 80px;
    line-height: 4.5;
    width: 125px;
    &.active,
    &:active {
      background-color: @primary-color;
      color: @text-color-light;
    }
  }
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group .btn-group + .btn-group {
    margin-left: 0;
  }
}


/**
 *  Delete postroll option
*/

.delete-option {
  margin-left: -15px;
  margin-right: 15px;
  margin-top: 26px;
}


/* ==========================================================================
   Media queries
   ========================================================================== */

@media (max-width: 767px) {
  .delete-option {
    margin-top: 40px;
  }
}

@media (max-width: 365px) {
  .position-btns {
    width: 216px;
    .btn {
      width: 108px;
    }
  }
}
