/* ==========================================================================
   Create New Project dropdown styles
   ========================================================================== */

.new-project {
  background-color: @gray-light;
  .border-radius();
  margin-bottom: 0;  
}


/* ==========================================================================
   Media queries
   ========================================================================== */

@media (max-width: 767px) {
  .video-item {
    border-bottom: 1px solid @primary-color;
    padding-top: 10px;
  }
}