.input-group-addon {
  background-color: white;
  border-radius: 0;
  border-right: none;
  color: @gray;
}

.form-control {
  border-radius: 0;
  .box-shadow(none);
  font-size: @font-size-small;
  height: 36px;
  padding: 6px;
}

select {
  background: #fff;
  border: 1px solid @border-color;
  color: @input-color;
  font-size: @font-size-small;
  height: 34px;
  padding: 5px 35px 5px 5px;
}

textarea {
  resize: vertical;
  max-height:350px;
}

label {
  font-weight: normal;
}

.input-no-style {
  background-color: transparent;
  border-color: transparent !important;
}

.input-account-name{
  margin-bottom: 10px;
}


/**
 *  Input Heading for interactive forms (single video page)
*/

.form-header input {
  .border-radius();
  border: 1px solid @border-color;
  color: @input-color;
  font-size: 1.8rem;
  line-height: 1.8;
  padding-left: 10px;
  margin-bottom: 10px;
  &.input-no-style {
    color: @input-color-no-styles;
    margin-bottom: 0;
  }
}

/**
 *  Input Title for single video page
*/

.page-title input {
  background-color: @gray-light;
  .border-radius();
  border: 1px solid @border-color;
  color: @input-color;
  line-height: 1.38;
  margin-bottom: -5px;
  margin-top: -10px;
  padding-left: 10px;
}

.page-title .input-no-style {
  background-color: transparent;
  color: @input-color;
}

/**
 *  Form-group for Interactive forms tabs (single video page)
*/

.interactive-form-tabs .form-group {
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;

  label {
    display: block;
  }
}


/**
 *  Switch button
*/

.bootstrap-switch {
  margin-bottom: 10px;
  margin-right: 10px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-color: @btn-default-bg;
}

.bootstrap-switch.bootstrap-switch-focused {
  border-color: @border-color;
  box-shadow: none;
}


/**
 *  Styled checkbox
*/

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: @primary-color;
  border-color: @primary-color;
}


/**
 *  Subscribe fix widths
*/

.input-md-fix {
  width: 360px;
}

.input-sm-fix {
  width: 92px;
}

.cvc-container {
  margin-left: 15px;
  margin-right: 15px;
}

/* ==========================================================================
   Help Us
   ========================================================================== */
.help-us textarea{
    border: 1px solid @border-color;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 2%;
    min-height: 70px;
    padding: 2%;
    width: 96%;
}


/* ==========================================================================
   Analytics
   ========================================================================== */
.reportrange{
    cursor: pointer; 
    padding: 5px 10px; 
    border: 1px solid @border-color; 
    width: 355px
}

.analytic-projects{
    width: 355px;
    margin-left: 15px;
    margin-right: 15px;

    .label{
        color: @primary-color;
    }
    .selectize-input.focus{
        border-color: #cccccc;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(204, 204, 204, 0.6);
    }
}

.selectize-input{
  border-radius: 0;
}


#file-upload{
  display: none;
}
.select-upload{
  padding: 0;
}

/* ==========================================================================
   Media queries
   ========================================================================== */


@media (max-width: 767px) {
  .interactive-form-tabs .form-group .col-sm-4 {
    margin-top: 15px;
  }
}

@media (max-width: 365px) {
  .form-header input {
    width: 135px;
  }
}