html,
body {
  height: 100%;
}


/*
  **Misc
*/

.mb15 {
  margin-bottom: 15px;
}

.icon-success {
  color: @icon-success-color;
  font-size: 38px;
  line-height: 0;
  position: relative;
  top: 10px;
}


/* ==========================================================================
   General styles for dashboard
   ========================================================================== */

.dash-header .container-fluid {
  padding: 0;
}

.dashboard {
  display: table;
  height: 100vh;
  margin-top: -53px;
  /* Substract header height to avoid vertical scrolling */
  padding-top: 53px;
  width: 100%;
}

.row-table {
  display: table-row;
  height: 100%;
}

.sidebar {
  background-color: @gray-light;
  display: table-cell;
  vertical-align: top;
  width: 200px;
}

.dashboard-content {
  display: table-cell;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
}

/* ==========================================================================
   Help Us
   ========================================================================== */

.help-us{
  padding: 0;
  width: 350px;

  div{
    background-color: @gray-light;
    border-top:1px solid @gray;
    padding: 10px;
  }
}

/* ==========================================================================
   Settings page
   ========================================================================== */

.profile-picture img {
  max-width: 150px;
  margin-bottom: 15px;
  margin-top: 45px;
}

.profile-picture > div {
  .center-block();
}

.host-account {
  margin-bottom: 15px;
  padding: 0 5px 5px;

  .video-logo{
    position: relative;
    top: 5px;
  }

  a{
    display: block;
    margin-top: 8px;
  }
}

/* ==========================================================================
   Set logo for each video provider & styles for time --- List video page
   ========================================================================== */

.duration {
  color: darken(@gray, 15%);
  display: block;
}

.video-logo-position{
  left: 10px;
  position: absolute;
  top: 8px;
}
.video-logo {
  background: url(../img/logos.png) 0 0 no-repeat;
  display: inline-block;
  height: 26px;
  width: 22px;
}

.icon-youtube {
  background-position: 0 0;
}

.icon-wistia {
  background-position: 0 -45px;
}

.icon-vimeo {
  background-position: 0 -90px;
}


/* ==========================================================================
   Single video page
   ========================================================================== */

.video-wrap {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
}

.form-wrapper {
  margin-top: 10px;
}


/* ==========================================================================
   Confirm delete page
   ========================================================================== */

.confirm-delete-img {
  .center-block();
  margin-top: 40px;
  width: 250px;
}


/* ==========================================================================
   Video slider
   ========================================================================== */

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: @primary-color;
}


/* ==========================================================================
   Error
   ========================================================================== */
.wrap-error {
  display: flex;
  align-items: center;
  margin-top: 5rem;
  
  h3 {
    color: @primary-color;
    margin: 0;
    line-height: 1.3;
  }

  i {
    color: #FFCD06;
    font-size: 7rem;
  }
}


/* ==========================================================================
   Progress bar
   ========================================================================== */
.bar{
  background-color: rgba(75, 150, 76, 0.55);
  height:3px; 
  position:relative;  
  top: 1px;
  width: 0%; 
  z-index: 99; 
}

/* ==========================================================================
   Charts
   ========================================================================== */
.charts-container{
  padding-top: 15px;

  .col-md-6 > div{
    height: 300px;
  }
}
.video-effectiveness{
  & > div{
    border: 1px solid @gray-light;
    padding: 10px;
    margin-bottom: 10px;
  }

  span{
    color: @primary-color;
    font-size: 2.5rem;
  }

  p{
    margin-bottom: 0;

    &:first-of-type{
       font-size: 2rem;
    }
    &:last-of-type{
      color: #888;
    }
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {
  .dashboard {
    display: block;
    height: auto;
    .row-table {
      display: block;
      margin: 0;
    }
    .dashboard-content {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .sidebar {
    display: inline-block;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
  }
}