/**
 * Includes top nav, left nav, breadcrumbs & tabs 
*/


/* ==========================================================================
   Top navbar for dashboard
   ========================================================================== */

.dash-header {
  background-color: @primary-color;
  border-bottom: 2px solid @primary-color;
  border-radius: 0;
  font-weight: 300;
  a {
    color: @text-color-light;
  }
}

.navbar-brand {
  font-size: 2.5rem;
  span {
    background-color: @primary-color;
    .border-radius();
    color: @text-color-light;
    font-weight: 300;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}

.navbar-toggle .icon-bar {
  background-color: @bg-light;
}

.navbar-right > li > a > img {
  border: 1px solid @primary-color;
  .border-radius();
  width: 34px;
  height: 34px;
}

.navbar-right li a {
  cursor: pointer;
  font-size: 1.4rem;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: @link-color;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-left: 0;
  margin-right: 0;
}


/* ==========================================================================
   Left nav for dashboard
   ========================================================================== */
.sidebar a {
  color: @secondary-color;
  display: block;
  font-size: 1.6rem;
  padding: 15px 10px;
  border-left: 4px solid transparent;
  &:hover {
    text-decoration: none;
    border-color: #fff;
  }
  i {
    color: @primary-color;
    margin-right: 5px;
  }
}

.sidebar .active {
  color: @primary-color;
  background-color: @bg-light;
  text-decoration: none;
  a {
    color: @primary-color;
  }
  &:hover {
    color: @primary-color;
  }
}


/* ==========================================================================
   Back to page link
   ========================================================================== */

.back-link {
  display: block;
  font-size: 1.4rem;
  margin-top: 10px;
  text-decoration: underline;
  width: 150px;
  -webkit-font-smoothing: initial;
}


/* ==========================================================================
   Tabs for Interactive forms (single video page)
   ========================================================================== */

.interactive-form-tabs {
  margin-top: 15px;
  .nav-tabs {
    border-bottom: none;
    > li {
      margin-bottom: 0;
      width: 50%;
    }
    > li > a {
      background-color: transparent;
      border: 1px solid transparent;
      border-bottom: 3px solid @gray-dark;
      border-radius: 0;
      color: @gray-dark;
      margin-right: 5px;
    }
    > li:last-of-type > a {
      margin-right: 0;
    }
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      background-color: @bg-light;
      border-color: transparent;
      border-bottom: 3px solid @primary-color;
      color: @primary-color;
    }
  }
  .tab-pane {
    padding-top: 20px;
  }
}


/* ==========================================================================
   Tabs for Video hosters (Settings page)
   ========================================================================== */

.video-hosters-tabs {
  .nav-tabs {
    border: none;
    > li > a {
      border: 1px solid transparent;
      border-bottom: 3px solid @gray-dark;
      color: @gray-dark;
      margin-right: 5px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    > li > a:hover,
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      border-color: transparent;
      border-bottom: 3px solid @primary-color;
      color: @primary-color;
    }
  }
  .tab-content {
    padding-top: 10px;
    min-height: 200px;
  }
}


/* ==========================================================================
   Tabs for Create New Project (Video List page)
   ========================================================================== */

.new-project {
  .tab-content > .active {
    clear: both;
  }
  .nav-tabs {
    border-bottom: none;
    margin-top: 2px;
    > li > a {
      border: 1px solid transparent;
      border-bottom: 3px solid @gray-dark;
      border-radius: 0;
      color: @gray-dark;
      cursor: pointer;
      margin-left: 2px;
      margin-right: 2px;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    > li > a:hover,
    > li.active > a,
    > li.active > a:hover,
    > li.active > a:focus {
      background-color: @bg-light;
      border-color: transparent;
      border-bottom: 3px solid @primary-color;
      color: @primary-color;
    }
    > li.pull-right a {
      border-bottom: none;
      color: @link-color;
    }
  }
  .tab-content {
    margin-top: -20px;
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
  /* ==========================================================================
   Top nav for dashboard
   ========================================================================== */
  .nav .dropdown-menu {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    display: block;
    float: none;
    margin-top: 0;
    position: static;
    width: auto;
    a {
      color: @text-color-light;
    }
  }
  .nav > li.dropdown > a {
    display: none;
  }
  /* ==========================================================================
   Left nav for dashboard
   ========================================================================== */
  .sidebar ul {
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    li {
      background: @primary-color;
      border: none;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 25%;
      a,
      a:hover,
      a.active {
        border: none;
        font-size: 16px;
      }
    }
    i {
      display: block;
    }
  }
}