@import "bootstrap/bootstrap";

@import "variables.less";
@import "mixins.less";


@import "type.less"; /* Includes fonts, headings, paragraph, inline elements (bold, centered text, underlined, etc) */

@import "buttons.less";
@import "nav.less"; /* Includes Top Nav, Left Nav, Breadcrums, Tabs */
@import "wells.less";
@import "tables.less";

@import "forms.less";
@import "dropdowns.less"; /* Includes Dropdowns and acoordions */

@import "layout.less";

@import "alerts.less";

/* ==========================================================================
   General
   ========================================================================== */

.fixed-height{
  height: 50px;
}

.title{
  background-color: #A2A2A2;
  color: #fff;
  font-size: 2rem;
  padding: 10px;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.primary-color  { background: @primary-color;}
.gray           { background: @gray;}
.gray-dark      { background: @gray-dark;}
.gray-light     { background: @gray-light;}
.blue           { background: @blue;}
.green          { background: @green;}