.table {
  > thead {
    > tr {
      > th {
        border-top: 2px solid @table-border-color;
        background-color: @table-head-bg;
        font-weight: bold;
      }
    }
  }
  > thead > tr > th {
    border-bottom: 1px solid @table-border-color;
  }
  > tbody {
    > tr {
      > td {
        vertical-align: middle;
      }
    }
  }
}


/* ==========================================================================
   Styles for Video list table
   ========================================================================== */


/**
 * Set size for first two table cells
*/

.list-video {
  margin-top: 20px;
  td {
    position: relative;
  }
  td:first-of-type {
    text-align: center;
    width: 50px;
  }
  td:nth-of-type(2) {
    text-align: center;
    width: 120px;
  }
}