/**
 * Includes fonts, headings, paragraph, inline elements (bold, centered text, underlined, etc)
*/

body {
  font-family: "Roboto", Arial, sans-serif;
}

a {
  color: @link-color;
}

a:hover,
a:active,
a:focus {
  color: @link-hover-color;
}


/* ==========================================================================
   Font Sizes
   ========================================================================== */

@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * 1.2)); // ~19px
@font-size-small: ceil((@font-size-base * 0.85)); // ~14px
@font-size-h1: floor((@font-size-base * 2.25)); // ~36px
@font-size-h2: floor((@font-size-base * 2)); // ~32px
@font-size-h3: ceil((@font-size-base * 1.5)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.1)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.75)); // ~12px
.page-title {
  border-bottom: 1px solid @gray-light;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 30px;
  margin-top: 0;
  padding-bottom: 10px;
  padding-top: 20px;
  -webkit-font-smoothing: antialiased;

  .form-action-icon {
    background-color: @gray-light;
    border-radius: 3px;
    font-size: 2rem;
    line-height: 1.5;
    top: -6px;
    margin-right: -5px;
    padding: 2px 7px;
    position: relative;
  }
}

.page-subtitle {
  border-bottom: 1px solid #f7f5f5;
  color: @secondary-color;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: .1em;
  margin: 40px 0 25px;
  text-align: center;
  -webkit-font-smoothing: antialiased;

  span {
    background: @bg-light;
    padding: 0 10px;

  }
}


/**
 *  Heading for new project dropdown (list video page)
*/

.new-project h4 {
  background-color: @bg-light;
  border-bottom: 1px solid @primary-color;
  color: @primary-color;
  line-height: 1.3;
  margin: 2px -13px 0 -13px;
  padding: 10px;
}


/**
 *  Heading for interactive elements (single video page)
*/

.well-blocks-element h4 {
  color: @primary-color;
  &:hover {
    color: @text-color-light;
  }
}

.well p:last-of-type {
  margin-bottom: 0;
}


/**
 *  Heading for interactive forms (single video page)
*/

.form-header {
  color: @primary-color;
  cursor: pointer;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  .form-action-icon {
    line-height: 1.8;
    margin-left: 10px;
  }
}

/**
 *  Help Us
*/
.help-us h4{
  font-size: 1.4rem;
}

.help-us-link{
  font-size: 1.4rem;
  padding: 14px !important;

  i{
    font-size: 1.8rem;
  }
}

/**
 *  Subscribe price
*/

.price p {
  margin-bottom: 0;
}


/**
 *  New project dropdown
*/

.video-title {
  display: block;
  margin-bottom: 3px;
  .text-overflow();
}

.video-duration {
  background-color: @bg-light;
  color: darken(@gray, 20%);
  font-size: 1.2rem;
  padding: 2px 5px;
}


/**
 *  Dropdown instruction text
*/

.text-small {
  font-size: @font-size-small;
}

.text-underlined {
  text-decoration: underline !important;
}

a.text-danger:hover,
a.text-danger:focus {
  text-decoration: none;
}

.text-strong{
  color: @primary-color;
}