/* ==========================================================================
   Colors
   ========================================================================== */

@red: #a23048;  
@gray: #ccc;
@gray-dark: #484848;
@gray-light: #f7f5f5;
/*@blue: #1c6c8c;*/
@green: #5cad8b;

@blue: #1e93b4; 
@blue-dark: #09323e; 

@primary-color: @blue; /* In this way, if we decide to change the primary color, we only have to do it here*/
@primary-color-darken: darken(@primary-color, 3%); /* Darker red*/

@secondary-color: @blue-dark;

@link-color: @primary-color;
@link-hover-color: darken(@primary-color, 10%);

@bg-light: #fff;

@text-color: @blue-dark;
@text-color-light: #fff;
@border-color: @gray;


/* ==========================================================================
   Icons
   ========================================================================== */
@icon-success-color: @green;


/* ==========================================================================
   Buttons
   ========================================================================== */
/* Override bootstrap default settings for btn-default -- > bootstrap/variables.less line 147 */

@btn-default-color:              @text-color-light;
@btn-default-bg:                 @primary-color;
@btn-default-border:             @primary-color-darken;

@btn-danger-bg: @red; 
@btn-danger-border: darken(@red, 3%);


/* ==========================================================================
   Well
   ========================================================================== */

@well-bg: @gray-light;
@well-border: transparent;

@block-element-bg-hover: @primary-color;
@block-element-color-hover: @text-color-light;


/* ==========================================================================
   Tables
   ========================================================================== */

@table-border-color: @gray;
@table-head-bg: @gray-light;


/* ==========================================================================
   Forms
   ========================================================================== */

@input-color: @blue-dark;
@input-border-focus: @gray;
@input-color-no-styles: @primary-color;

