@import "bootstrap/bootstrap";


/* ==========================================================================
   Variables
   ========================================================================== */

@red: #ce0000;
@gray: #ddd;
@gray-dark: #484848;
@gray-light: #f7f5f5;
@green: #3a8d2e;
@yellow: #ffd800;

@primary-color: @red; /* In this way, if we decide to change the primary color, we only have to do it here*/
@primary-color-darken: darken(@primary-color, 3%);

@link-color: @primary-color;
@link-hover-color: darken(@primary-color, 10%);

@bg-light: white;
@text-color: @gray-dark;
@text-color-light: white;
@border-color: @gray;


/* ==========================================================================
   General styles
   ========================================================================== */

body {
  font-family:"Roboto", Arial, sans-serif;
  font-weight: 300;
}

html, body { height: 100%; }

a{ color: @link-color; }
a:hover,
a:active,
a:focus { color: @link-hover-color; }

.text-strong {
  color: @primary-color;
}

.text-red {
  color: @red !important;
}

.text-green {
  color: @green !important;
}

.text-yellow {
  color: @yellow !important;
}

.text-intro {
  font-size: 1.8rem;
}

.text-underline {
  font-weight: normal;
  text-decoration: underline;
}

h2{
  font-weight: 300;
}

.content-home{
  height: 100%;
  font-size: 1.8rem;
  line-height: 1.5
}

/**
  * Buttons
*/
.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
{
  background-color:@primary-color;
  border-color:transparent;
  border-radius: 0;
  color: white;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
}
.btn:hover,
.btn:focus,
.btn-default:hover,
.btn-default:focus,
.btn-default:active:hover{
  background-color:@primary-color-darken;
  color: white;
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus {
  background-color:white;
  color: @primary-color;
}

.alert {
  border-radius: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */
.header{
  border-bottom: 1px solid @primary-color;
  border-radius: 0;
  width: 100%;
  z-index: 99;

  a{
    color: @primary-color;

    &:hover{
      color: @primary-color-darken;
    }
  }
}

.header-home{
  background-color: transparent;
  position: absolute;

  a{
    color: @link-color;
  }
  
}

.nav > li > a:hover, 
.nav > li > a:focus {
  background-color: transparent;
}

/**
  * Logo
*/
.navbar-brand{
  font-family: Arial, Verdana, serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.navbar-toggle .icon-bar{ background-color: @primary-color;}


/**
  * Form styles
*/
.form-control {
  border-radius: 0;
  box-shadow: none;
  color: @gray-dark;
}
.form-control:focus{
  border-color: darken(@border-color,15%);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.refer-textarea {
  min-height: 150px;
}

.checkbox label{
  font-size: 1.4rem;
}

.forgot-pass {
  margin-bottom: 0;
  margin-top: 10px;
}

#referral-form textarea {
  min-height: 200px;
  resize: vertical;
}
/* ==========================================================================
   Footer
   ========================================================================== */

  .footer{
    background-color: @gray-dark;
    color: @text-color-light;
    font-size: 1.4rem;
    padding-top: 10px;

    a{
      color: @text-color-light;
    }
  }

  .footer-fixed {
    bottom: 0;
    position: fixed;
    width: 100%
  }

/* ==========================================================================
   Home Page Layout
   ========================================================================== */

.hero {
  height: 70%;
  position: relative;
  z-index: 1;

  .form-inline{
    left: 50%;
    position: absolute;
    top: 65%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }

  .form-control{
    border:1px solid @primary-color;
    height: 48px;
    font-size: 1.8rem;
    width: 298px;
  }

  .btn{
    font-size: 1.8rem;
    height: 48px;
    margin-left: -5px;
    width: 70px;

    i{
      font-size: 3rem;
    }
  }

}

.copy-text{
  bottom: auto;
  color: @text-color;
  font-size: 4rem;
  font-weight: 300;
  left: 50%;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: auto;
  text-align: center;
  top: 35%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  -webkit-font-smoothing: antialiased;
  z-index: 2;

  small{
    color: @text-color;
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.hero-text {
  font-weight: normal;
  left: 50%;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: auto;
  text-align: center;
  top: 58%;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  -webkit-font-smoothing: antialiased;
  z-index: 2;
}

.testimonials{
  margin-bottom: 50px;
  margin-top: 50px;

  blockquote{
    border-left: 1px solid @gray-light;
    font-size: 1.8rem;
    margin-bottom: 0;
    padding: 0 50px;

    &:first-of-type{
      border: none;
    }

    footer{
      color: @text-color;
      font-size: 2.4rem;
      text-align: right;

      span{
        display: block;
      }
    }
  }
}

.content-home h2{
  font-size: 3.6rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}


/* ==========================================================================
   How it works
   ========================================================================== */
.how-it-works{
  padding-bottom: 30px;
  padding-top: 30px;

  .col-md-4,
  .col-sm-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  i{
    font-size: 9rem;
    line-height: 70px;
    padding: 20px;
    width: 116px;
  }
}


/* ==========================================================================
   Story Header
   ========================================================================== */
.story{
  background-color: #CEA984;
  padding-bottom: 30px;
  padding-top: 30px;
  position: relative;

  .text-center i{
    font-size: 5rem;
    color: @primary-color;
    position: absolute;
    top: -25px;
  }

  h2{
    color: @text-color-light;
  }
}

/* ==========================================================================
   Why Us
   ========================================================================== */

.why-intro {
  align-items: center;
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  
}

.why-us {

  h3 {
    font-weight: 300;
    line-height: 1.5;

      span {
        display: block;
        font-size: 1.8rem;
      }
  }

  .table > thead > tr > th, 
  .table > tbody > tr > th, 
  .table > tfoot > tr > th, 
  .table > thead > tr > td, 
  .table > tbody > tr > td, 
  .table > tfoot > tr > td {
    border-color: @gray-light;
    padding:15px;
  }

  .no-border {
    border-top: none;
  }

  table {
    border: none;

    .half {
      width: 35%;
    }

    h3 {
      margin: 20px 0 0 0;
    }
  }

  .logo{
    color: @primary-color;
    display: inline-block;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
  }

  .form-inline {
    margin-top: 15px;
  }

  .form-control{
    border:1px solid @primary-color;
    height: 48px;
    font-size: 1.8rem;
    width: 298px;
  }

  .btn{
    font-size: 1.8rem;
    height: 48px;
    margin-left: -5px;
    width: 120px;
  }

}


/* ==========================================================================
   Inner pages
   ========================================================================== */

.content-inner {
  padding-bottom: 40px;
}

h1.title {
  font-weight: 300;
  margin-bottom: 50px;
  margin-top:30px;
}
h2.title,
h3.title {
  font-weight: 300;
  margin:40px 0;
}

h2.message{
  line-height: 40px;
  margin-top:80px;
}

.content-inner h3{
  font-size: 1.8rem;
}

.panel{
  border-radius: 0;
  box-shadow: none;
  margin-top: 30px;
}

.arr1 {
  margin-top: 70px;
}
.arr2 {
  margin-top: 45px;
}

.title-collapse {
  display: block;
  color: @gray-dark;
  font-size: 2rem;
  margin-top: 1.5rem;
  padding-bottom: 1rem;

  &:hover,
  &:focus {
    text-decoration:none;
    color: @primary-color;
  }
}

/* ==========================================================================
   About 
   ========================================================================== */

.jumbotron {
  height: 500px;
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: cover;

  &.about{
    background-image: url(../img/slc-img.jpg);
  }

  p{
    font-size: 1.8rem;
  }
}

.about {
  display: flex;
  align-items: center;
}

.mission {
  background-color: @gray-light;
}

.our-story {
  padding-bottom: 50px;
}


.gray-bg {
  background-color: @gray-light;
}

.team {

  .media{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
  }
  
  .media-body {
    vertical-align: middle;
  }

  .media-object {
    width: 150px;
  }

  h5{
    font-size: 15px;
    margin-top: 0;
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 768px) {
  .copy-text {
    font-size: 2.3rem;

    small {
      font-size: 2rem;
      margin-top: 10px;
    }
  }

  .header {
    border-bottom: none;
  }
}


@media only screen and (min-width: 768px) {

  body { font-size: 1.6rem; }

}

@media (max-width: 939px) {

  .hero {
    height: 100%;

    .form-inline{
      left: auto;
      position: relative;
      transform: initial;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .form-control,
    .btn {
      width: auto;
    }

  }
  .form-inline .form-group {
    float: left;
    margin-bottom: 0;
    margin-right: 4px;
  }
}

@media (max-width: 500px) {

  .why-intro {
    display: block;
    text-align: center;
  }

  .why-us{
    font-size: 1.4rem;

    .container {
      padding-right: 5px;
      padding-left: 5px;
    }

    h3{
      font-size: 1.8rem;

      span{
        font-size: 1.3rem;
      }
    }

    .table > thead > tr > th, 
    .table > tbody > tr > th, 
    .table > tfoot > tr > th, 
    .table > thead > tr > td, 
    .table > tbody > tr > td, 
    .table > tfoot > tr > td {
      border-color: @gray-light;
      padding:5px;
    }

    .visible-xs {
      padding-bottom: 20px;

      .btn{
        font-size: 1.3rem;
        width: 76px;
        padding: 5px;
      }

      .form-control {
        width: auto;
      }

      h3{
        border-top: 1px solid @gray-dark;
        padding-top: 15px;
      }
    }
  }

}
/* ==========================================================================
   Video
   ========================================================================== */
.bg-video,
.bg-filter{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-color: #DDB78D;
    z-index: 1;
 }
.bg-filter{
  z-index:-99;
  opacity:0.2;
  background: -webkit-linear-gradient(rgba(49,224,247,1) 0%, rgba(90,77,184,1) 100%);
  background: -moz-linear-gradient(rgba(49,224,247,1) 0%, rgba(90,77,184,1) 100%);
  background: -o-linear-gradient(rgba(49,224,247,1) 0%, rgba(90,77,184,1) 100%);
  background: linear-gradient(rgba(49,224,247,1) 0%, rgba(90,77,184,1) 100%);
}
