.well {
  .box-shadow( none);
  margin-bottom: 10px;
  padding: 10px;
}

.well-blocks {
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0;
}

.well-blocks-element {
  cursor: pointer;
  padding: 10px;
  &:hover {
    background-color: @block-element-bg-hover;
    color: @block-element-color-hover;
    h4 {
      color: @block-element-color-hover;
    }
  }

  h4{
    margin:0 0 10px 0;
  }
  
  p {
    font-size: @font-size-small;
  }
}

.well-blocks-element-disabled {
  background-color: @gray;
  .border-radius();
  padding: 10px;

  &:hover {
    background-color: @gray;
    color: @gray-dark;
    cursor: not-allowed;
    h4 {
      color: @gray-dark;
    }
  }
  
  p{
    color: #7b7b7b;
    font-size: @font-size-small;
    font-style: italic;
  }
}

.interactive-element-option {
  min-height: 109px;
}


/* ==========================================================================
   Media queries
   ========================================================================== */

@media (max-width: 767px) {
  .well-blocks-element {
    border-bottom: 1px solid @gray;
    min-height: auto;
  }
}
